@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');


::root {
  --mouse-x: 0;
  --mouse-y: 0;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Karla', sans-serif;
  background: #0E0E13;
  font-weight: 300;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  margin-block-start: inherit;
    margin-block-end: inherit;
    margin-inline-start: inherit;
    margin-inline-end: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

.details, .details span, .details a  {
  line-height: 1.25rem;
  font-weight: 300;
}

.f4 {
  line-height: 2rem;
}

.heading {
  font-weight: 400;
}

strong {
  font-weight: 600;
}

* {
  box-sizing: border-box;
}

.nav {
  z-index: 1000;
  mix-blend-mode: difference;
}

.container {
  padding-top: 120px;
  z-index: auto;
  position: relative;
}

.project-container {
  z-index: 9999;
  background-color:#0E0E13;
}

.logo {
  height: 50px;
}

.fancy {
  font-family: 'Baskervville', serif;
  /* font-family: 'Karla', sans-serif; */
}

.button {
  width: 20px;
}

.button .active {
  background: white;
  color: black;
  border-color: white;
}

.large-w-25 {
  opacity: 0.3
}

.small-w-third {
  opacity: 0.3
}

.project-title {
  font-size: 7rem;
}

.project-description {
  font-size: 3rem;
  margin-bottom: 0px;
}

.hero-image {
  cursor: auto;
}

.media {
  opacity: 0;
  visibility: hidden;
}

.active {
  opacity: 1;
  visibility: visible;
}


.inactive {
  visibility: hidden;
  opacity: 0;
}

.carousel-indicator, .closeButton {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  -webkit-transform: translate3d(var(--mouse-x), var(--mouse-y), 0);
  transform: translate3d(var(--mouse-x), var(--mouse-y), 0);
  will-change: transform;
  visibility: hidden;
}


.hero-image img {
  object-fit: contain;
  background-color:#0E0E13;
  margin: 0 auto;
}

.project-content {
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}


.project-overlay {
  filter: blur(10px);
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}

.project-panel {
  background-color:#0E0E13;
}

.project-details {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}

.carousel-container  {
  height: 100%;
  padding: 0px;
}
.hero-image {
  position: relative;
}

.hero-image-container {
  /* margin: 0px; */
  position: relative;
  margin-bottom: 0rem;
}

.hero-image-container {
  opacity: 1;
  visibility: visible;
}

.contact p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.thumbnail {
  height: calc(20vw);
}
.thumbnail img {
  object-fit: contain;
}

.nav-contact p {
  margin: 0px;
}

.card-img {
  object-fit: contain;
}


@media screen and (min-width: 30rem) {
  .hero-image-container {
    position: absolute;
  }
  .hero-image {
    cursor: none;
    width: 100%;
    height: 100%;
    /* position: absolute; */
  }

  .carousel-container {
    height: calc(100vh - 15rem);
  }

  .hero-image-container {
    opacity: 0;
    visibility: hidden;
  }

  .hero-image-container.active {
    opacity: 1;
    visibility: visible;
  }

  .image-overlay {
    z-index: 1;
    opacity: 1;
    visibility: visible;
    transition: all 3s ease-in;
    background-color: #0E0E13;
  }
  
  .image-overlay.active {
    opacity: 0;
    visibility: hidden;
  }
  

  .carousel-indicator {
    visibility: var(--showIndicator);
  }

  .closeButton {
    visibility: var(--showClose);
  }
}


@media (--breakpoint-medium) {
  
}

@media (--breakpoint-large) {

}

/* .carousel-indicator:var(--showIndicator) {

} */